@use 'sass:color';

.header {
  overflow: hidden;
  background-color: $c-background;
  padding: 20px 10px;
  display: flex;
  align-items: center;

  &__left {
    flex: 1;
  }

  &__right {
    display: inline-flex;
    align-items: center;
  }

  &__wishlist-link {
    position: relative;
  }

  &__badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    min-width: 2ch;
    font-size: 12px;
    padding: 2px;
    background: $c-secondary;
    position: absolute;
    top: -5px;
    right: -5px;
  }
}

.header a {
  color: $c-white-transparent;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  transition: color 0.2s ease-in-out;
}

.header a:hover {
  color: $c-white;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  flex: 1;
}
